<template>
  <div class="about">
    <h1>This is an about page</h1>
    <br>
    <!--<router-link to="/login">Login</router-link>-->
  </div>
</template>
<script>
  export default {
    name: "about",
    mounted() {
      // this.$router.go({path: '/login'})
      window.location = '/login';
    }
  }
</script>