<template>
    <div class="auth">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="/">
          <img src="../../src/assets/logo.png" width="100" height="50" class="rounded-circle" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
          </ul>
    <span class="navbar-text">
       <ul class="navbar-nav">
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
             <img :src="avatar" class="rounded-circle" width="30" height="30" alt="">
           </a>
           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
             <!--<router-link to="/main/profile" class="dropdown-item" >-->
               <!--<i class="icon ion-md-settings"></i>-->
               <!--perfil-->
             <!--</router-link>-->
             <router-link to="/main/change-password" class="dropdown-item" >
               <i class="icon ion-md-key"></i>
               cambio de clave
             </router-link>
             <router-link to="/logout" class="dropdown-item" >
               <i class="icon ion-md-log-out"></i>
               salir
             </router-link>
           </div>
         </li>
       </ul>
    </span>
        </div>
      </nav>

      <div class="container">
        <div class="col-md-10">
          <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
              <i class="icon ion-md-apps"></i>
            </button>
          </p>
          <div class="row">
            <div class="col-md-12">
              <div class="well">
                <div class="card">
                  <router-view class="card-body" role="main">
                  </router-view>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
</template>
<script>
import global from '../utility/global'
import axios from 'axios'
export default{
  name: 'Auth',
  data () {
    return {
      avatar: ''
    }
  },
  methods: {
    getProfile: function () {
      const endpoint = global.$data.PROFILE
      axios.get(endpoint).then((response) => {
        if (response.data.success === true) {
          this.avatar = response.data.data.avatar
        }
      })
    }
  },
  mounted () {
    this.getProfile()
  }
}
</script>
<style>
body {
  padding-top: 50px;
}
</style>
