<template>
  <div class="change-password">
    <h3>Cambio de clave</h3>
    <br>
    <div class="form-group">
      <input type="password" class="form-control" v-model="forms.old_password" required="required" placeholder="clave actual">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" v-model="forms.password" required="required" placeholder="clave nueva">
    </div>
    <div class="form-group">
      <button type="submit" @click="changePassword" class="btn btn-outline-primary">
        cambio de clave
      </button>
    </div>
    <div v-if="message!=''" class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <pre>{{message}}</pre>
    </div>
    <div v-if="errors.length" class="alert alert-danger" role="alert">
      <b>Errores:</b>
      <ul >
        <li v-for="error in errors" :key="error">{{error}}</li>
      </ul>
    </div>
  </div>
</template>
<script>
import global from '../utility/global'
import axios from 'axios'
export default{
  name: 'change-password',
  data () {
    return {
      forms: {
        old_password: '',
        password: ''
      },
      message: '',
      errors: []
    }
  },
  methods: {
    changePassword: function (e) {
      e.preventDefault()
      this.errors = []
      if (this.forms.old_password === '') {
        this.errors.push('clave actual es requerida')
      } else if (this.forms.password === '') {
        this.errors.push('clave nueva es requerida')
      } else {
        const endpoint = global.$data.CHANGE_PASSWORD
        axios.post(endpoint, JSON.stringify(this.forms)).then((response) => {
          if (response.data.success === true) {
            this.message = response.data.message
            setTimeout(() => {
              this.$router.go({path: '/change-password'})
            }, 1000)
          } else {
            this.errors.push(response.data.message)
          }
        })
      }
    }
  }
}
</script>
