<template>
  <div class="home">
    Bienvenido
    <br>
    <router-link to="/main/user" class="btn btn-outline" >
      Usuarios
    </router-link>
  </div>
</template>
<script>
export default{
  name: 'home'
}
</script>
