<template>
  <div class="logout"></div>
</template>

<script>
import store from '../utility/store'
export default {
  name: 'logout',
  mounted () {
    localStorage.removeItem('token')
    store.commit('logoutUser')
    this.$router.replace({path: '/'})
  }
}
</script>
