<template>
  <div class="profile">
    <h3>Perfil</h3>
    <br>
      <span class="btn btn-default btn-file">
        <i class="icon ion-md-image"></i> Selecciones avatar
        <input type="file" name="files[]" class="form-group" accept="image/*" @change="changeFile">
      </span>
      <div class="form-group">
        <img :src="file" width="50" height="50" alt="">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" v-model="forms.username" required="required" placeholder="usuario">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" v-model="forms.first_name" required="required" placeholder="Nombre">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" v-model="forms.last_name" required="required" placeholder="Apellido">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" v-model="forms.email" required="required"
               placeholder="Email">
      </div>
      <div class="form-group">
        <select name="countrys" v-model="forms.country_id" required="required" class="form-control">
          <option value="">Selecciones País</option>
          <option v-for="i in listC" :key="i.id" :value="i.id" >{{i.country}}</option>
        </select>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" v-model="forms.city" required="required" placeholder="Ciudad">
      </div>
      <div class="form-group">
        <select name="level" v-model="forms.level_academic_id" required="required" class="form-control">
          <option value="">Selecciones Nivel academico</option>
          <option v-for="j in listL" :key="j.id" :value="j.id">{{j.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <textarea class="form-control" placeholder="dirección" required="required" v-model="forms.address"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" @click="updateProfile" class="btn btn-outline-primary">
          actualizar
        </button>
      </div>
      <div v-if="message!=''" class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <pre>{{message}}</pre>
      </div>
    <div v-if="errors.length" class="alert alert-danger" role="alert">
      <b>Errores:</b>
      <ul >
        <li v-for="error in errors" :key="error">{{error}}</li>
      </ul>
    </div>
  </div>
</template>
<script>
import global from '../utility/global'
import axios from 'axios'
export default{
  name: 'profile',
  data () {
    return {
      file: '',
      forms: {
        first_name: '',
        last_name: '',
        username: '',
        email: '',
        level_academic_id: '',
        country_id: '',
        city: '',
        address: ''
      },
      message: '',
      errors: [],
      listC: '',
      listL: ''
    }
  },
  methods: {
    changeFile: function (event) {
      let file1 = global.$data.getBase64ImageEncode(event.target.files[0])
      file1.then((res) => {
        this.file = res
      })
    },
    getProfile: function () {
      const endpoint = global.$data.PROFILE
      axios.get(endpoint).then((response) => {
        if (response.data.success === true) {
          this.forms = response.data.data
          this.forms.level_academic_id = response.data.data['level_academic'].id
          this.forms.country_id = response.data.data['country'].id
          this.file = response.data.data['avatar']
        }
      })
    },
    listCountry: function () {
      const endpoint = global.$data.COUNTRY
      axios.get(endpoint).then((response) => {
        if (response.data.success === true) {
          this.listC = response.data.data
        }
      })
    },
    listLevelAcademic: function () {
      const endpoint = global.$data.ACADEMIC
      axios.get(endpoint).then((response) => {
        if (response.data.success === true) {
          this.listL = response.data.data
        }
      })
    },
    updateProfile: function (e) {
      e.preventDefault()
      this.errors = []
      if (this.forms.username === '') {
        this.errors.push('usuario es requerido')
      } else if (this.forms.first_name === '') {
        this.errors.push('nombre es requerido')
      } else if (this.forms.last_name === '') {
        this.errors.push(' apellido es requerido')
      } else if (this.forms.email === '') {
        this.errors.push('email es requerido')
      } else if (this.forms.password === '') {
        this.errors.push('passsword es requerido')
      } else if (this.forms.level_academic_id === '') {
        this.errors.push('nivel académico requerido')
      } else if (this.forms.country_id === '') {
        this.errors.push('país requerido')
      } else if (this.forms.city === '') {
        this.errors.push('cuidad requerida')
      } else if (this.forms.address === '') {
        this.errors.push('dirección requerida')
      } else {
        const endpoint = global.$data.PROFILE_UPDATE
        let obj = Object.assign(this.forms, {avatar: this.file})
        axios.post(endpoint, JSON.stringify(obj)).then((response) => {
          if (response.data.success === true) {
            this.message = response.data.message
            setTimeout(() => {
              this.$router.go({path: '/profile'})
            }, 1000)
          }
        })
      }
    }
  },
  mounted () {
    this.getProfile()
    this.listLevelAcademic()
    this.listCountry()
  }
}
</script>
<style scoped>
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
</style>
