<template>
     <div class="register">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../../src/assets/logo.png" width="100" height="50" class="rounded-circle" alt="">

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="form-signin">
      <div class="text-center mb-4">

        <h1 class="h3 mb-3 font-weight-normal">registro</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <form >
            <span class="btn btn-default btn-file">
              <i class="icon ion-md-image"></i> Seleccione avatar
              <input type="file" name="files[]" class="form-group" accept="image/*" @change="changeFile">
            </span>
            <div class="form-group">
              <img :src="file" width="50" height="50" alt="">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" v-model="forms.username" required="required" placeholder="usuario">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" v-model="forms.first_name" required="required" placeholder="Nombre">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" v-model="forms.last_name" required="required" placeholder="Apellido">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" v-model="forms.email" required="required"
                     placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" v-model="forms.password" required="required"
                     placeholder="Password">
            </div>
            <div class="form-group">
              <select name="countrys" v-model="forms.country_id" required="required" class="form-control">
                <option value="">Selecciones País</option>
                <option v-for="i in listC" :key="i.id" :value="i.id" >{{i.country}}</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" v-model="forms.city" required="required"
                     placeholder="Ciudad">
            </div>
            <div class="form-group">
              <select name="level" v-model="forms.level_academic_id" required="required" class="form-control">
                <option value="">Selecciones Nivel academico</option>
                <option v-for="j in listL" :key="j.id" :value="j.id">{{j.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="dirección" required="required" v-model="forms.address"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" @click="registerUser" class="btn btn-outline-primary">
                registrar
              </button>
            </div>
          </form>
          <span><router-link to="/login">login</router-link></span>
          <div v-if="message!=''" class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <pre>{{message}}</pre>
          </div>
          <div v-if="errors.length" class="alert alert-danger" role="alert">
            <b>Errores:</b>
            <ul >
              <li v-for="error in errors" :key="error">{{error}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import global from '../utility/global'
import axios from 'axios'
export default{
  name: 'register',
  data () {
    return {
      file: '',
      forms: {
        first_name: '',
        last_name: '',
        username: '',
        password: '',
        email: '',
        level_academic_id: '',
        country_id: '',
        city: '',
        address: ''
      },
      message: '',
      errors: [],
      listC: '',
      listL: ''
    }
  },
  methods: {
    changeFile: function (event) {
      let file1 = global.$data.getBase64ImageEncode(event.target.files[0])
      file1.then((res) => {
        this.file = res
      })
    },
    listCountry: function () {
      const endpoint = global.$data.COUNTRY
      axios.get(endpoint).then((response) => {
        if (response.data.success === true) {
          this.listC = response.data.data
        }
      })
    },
    listLevelAcademic: function () {
      const endpoint = global.$data.ACADEMIC
      axios.get(endpoint).then((response) => {
        if (response.data.success === true) {
          this.listL = response.data.data
        }
      })
    },
    registerUser: function (e) {
      e.preventDefault()
      this.errors = []
      if (this.forms.username === '') {
        this.errors.push('usuario es requerido')
      } else if (this.forms.first_name === '') {
        this.errors.push('nombre es requerido')
      } else if (this.forms.last_name === '') {
        this.errors.push(' apellido es requerido')
      } else if (this.forms.email === '') {
        this.errors.push('email es requerido')
      } else if (this.forms.password === '') {
        this.errors.push('passsword es requerido')
      } else if (this.forms.level_academic_id === '') {
        this.errors.push('nivel académico requerido')
      } else if (this.forms.country_id === '') {
        this.errors.push('país requerido')
      } else if (this.forms.city === '') {
        this.errors.push('cuidad requerida')
      } else if (this.forms.address === '') {
        this.errors.push('dirección requerida')
      } else {
        const endpoint = global.$data.REGISTER
        let obj = Object.assign(this.forms, {avatar: this.file})
        axios.post(endpoint, JSON.stringify(obj)).then((response) => {
          if (response.data.success === true) {
            this.message = response.data.message
            setTimeout(() => {
              this.$router.go({path: '/profile'})
            }, 1000)
          }
        })
      }
    }
  },
  mounted () {
    this.listLevelAcademic()
    this.listCountry()
  }
}
</script>
<style scoped>
  :root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
  }

  html,
  body {
    height: 100%;
  }

  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 50px;
    background-color: #f5f5f5;
  }

  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-label-group > input,
  .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-moz-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
  }

  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
</style>
