<template>
  <div class="reset-password">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../../src/assets/logo.png" width="100" height="50" class="rounded-circle" alt="">

      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
              aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="form-signin">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Reseteo de clave</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <input type="password" class="form-control" v-model="forms.old_password" required="required" placeholder="clave">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" v-model="forms.password" required="required" placeholder="repita clave">
          </div>
          <div class="form-group">
            <button type="submit" @click="changePassword" class="btn btn-outline-primary">
              cambio de clave
            </button>
          </div>
          <div v-if="message!=''" class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <pre v-html="message"></pre>
          </div>
          <div v-if="errors.length" class="alert alert-danger" role="alert">
            <b>Errores:</b>
            <ul >
              <li v-for="error in errors" :key="error">{{error}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
import global from '../utility/global'
import axios from 'axios'
export default{
  name: 'forgot-password',
  data () {
    return {
      forms: {
        old_password: '',
        password: ''
      },
      errors: [],
      message: ''
    }
  },
  methods: {
    changePassword: function (e) {
      const tokens = this.$route.params.token
      e.preventDefault()
      this.errors = []
      if (this.forms.old_password === '') {
        this.errors.push('password es requerido')
      } else if (this.forms.password === '') {
        this.errors.push('password es requerido')
      } else if (this.forms.password !== this.forms.old_password) {
        this.errors.push('password deben ser iguales requerido')
      } else {
        const endpoint = global.$data.RESET_TOKEN_PASSWORD
        var obj = Object.assign({}, {password: this.forms.password, token: tokens})
        axios.post(endpoint, JSON.stringify(obj)).then((response) => {
          if (response.data.success === true) {
            // this.$router.go({path: '/login'})
            this.message = response.data.message
            setTimeout(() => {
              this.$router.replace({path: '/login'})
            }, 1000)
          } else {
            this.errors.push(response.data.message)
          }
        })
      }
    }
  }
}
</script>
<style scoped>
  :root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
  }

  html,
  body {
    height: 100%;
  }

  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 50px;
    background-color: #f5f5f5;
  }

  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }

  .form-label-group > input,
  .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }

  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }

  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }

  .form-label-group input::-moz-placeholder {
    color: transparent;
  }

  .form-label-group input::placeholder {
    color: transparent;
  }

  .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }
</style>
