<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>front-nodejs</title>

    <link rel="stylesheet" href="<%= BASE_URL %>bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>bower_components/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>bower_components/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>bower_components/ionicons/docs/css/ionicons.min.css">
    <link rel="stylesheet" href="<%= BASE_URL %>bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">

  </head>
  <body>
    <noscript>
      <strong>We're sorry but front-nodejs doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="<%= BASE_URL %>bower_components/jquery/dist/jquery.min.js"></script>
    <script src="<%= BASE_URL %>bower_components/jquery/dist/jquery.slim.min.js"></script>
    <script src="<%= BASE_URL %>bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="<%= BASE_URL %>bower_components/bootstrap-material-design/assets/js/docs.min.js"></script>
  </body>
</html>
