<template>
    <div id="DashboardComponent">
        <v-header></v-header>
        <br><br><br>
        <div class="container">
            <div class="col-md-10">
                <p class="visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                        <i class="icon ion-md-apps"></i>
                    </button>
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="well">
                            <div class="card" >
                                <router-view class="card-body" role="main">
                                </router-view>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import HeaderComponent from './HeaderComponent'

    export default {
        name: "DashboardComponent",
        components: {
            'v-header': HeaderComponent
        }
    }
</script>

<style scoped>
    body {
        padding-top: 50px;
    }
</style>