<template>
    <div id="LoginComponent">
        <v-header-login></v-header-login>
        <div class="form-signin">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">login</h1>
            </div>
            <div class="card">
                <div class="card-body">
                    <form >
                        <div class="form-group">
                            <input type="text" class="form-control" v-model="forms.email" required="required" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" v-model="forms.password" required="required"
                                   placeholder="Password">
                        </div>
                        <div class="form-group">
                            <button type="submit" @click="submitLogin" class="btn btn-outline-primary">
                                login
                            </button>
                        </div>
                    </form>
                    <span><router-link to="/register">registrar</router-link></span><br>
                    <!--<span><router-link to="/forgot-password">Olvido la clave</router-link></span>-->
                    <div v-if="errors.length" class="alert alert-danger" role="alert">
                        <b>Errores:</b>
                        <ul >
                            <li v-for="error in errors" :key="error">{{error}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import store from '../store'
    import global from '../global'
    import axios from 'axios'
    import HeaderLoginComponent from './HeaderLoginComponent'
    export default {
        name: "LoginComponent",
        data () {
            return {
                forms: {
                    email: '',
                    password: ''
                },
                errors: []
            }
        },
        components: {
            'v-header-login': HeaderLoginComponent
        },
        methods: {
            submitLogin: function (e) {
                e.preventDefault()
                this.errors = []
                if (this.forms.email === '') {
                    this.errors.push('email es requerido')
                } else if (this.forms.password === '') {
                    this.errors.push('passsword es requerido')
                } else {
                    const endpoint = global.$data.LOGIN
                    axios.post(endpoint, (this.forms)).then((response) => {
                        if (response.data.success === true) {
                            store.commit('loginUser')
                            localStorage.setItem('token', response.data.data.token)
                            this.$router.go({path: '/login'})
                        } else {
                            this.errors = response.data.message
                        }
                    })
                }
            }
        }
    }
</script>

<style scoped>
    .form-signin {
        width: 100%;
        max-width: 420px;
        padding: 15px;
        margin: 0 auto;
    }

    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }

    .form-label-group > input,
    .form-label-group > label {
        padding: var(--input-padding-y) var(--input-padding-x);
    }

    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0; /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-moz-placeholder {
        color: transparent;
    }

    .form-label-group input::placeholder {
        color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
    }

    .form-label-group input:not(:placeholder-shown) ~ label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
    }
</style>